@import url('https://fonts.googleapis.com/css?family=Seaweed+Script');

body {
  background-color: #F0FFF0;
  text-align: center;
}

.container {
  position: relative;
}

.image-text {
  position: absolute;
  top: 20px;
  left: 90px;
  text-shadow: -2px 0 black;
}

#background {
  width: 100%;
}

h1 {
  font-family: 'Seaweed Script', cursive;
  font-size: 50px;
}

ul {
  list-style: none;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #40E0D0;
}
a:visited {
  color: #40E0D0;
}
a:hover {
  color: orange;
}
