@import "https://fonts.googleapis.com/css?family=Montez";

body {
  background-color: pink;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Montez', cursive;
  display: inline;
  font-size: 50px;
}

.container {
  position: relative;
  height: 320px;
  width: 100%;
}

.image-text{
  position: absolute;
  top: 200px;
  left: 10px;
  width: 100%;
  color: #ecbf31;
  font-size: 25px;
  text-shadow: -2px 0 black 
}

ul {
  list-style: none;
}

img {
  height: 310px;

}
