@import "https://fonts.googleapis.com/css?family=Seaweed+Script";

body {
  background-color: pink;
  text-align: center;
}

.top {
  border: solid;
  width: 600px;
}

.home {
  color: blue;
}

h2 {
  font-family: 'Seaweed Script', cursive;
  display: inline;
}

.container {
  position: relative;
  height: 290px;
  width: 100%;
}

.image-text{
  position: absolute;
  top: 200px;
  left: 10px;
  width: 100%;
}

ul {
  list-style: none;
}

img {
  height: 280px;

}
